*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

::before, ::after {
  --en-content: '';
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::-webkit-backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

::backdrop {
  --en-border-spacing-x: 0;
  --en-border-spacing-y: 0;
  --en-translate-x: 0;
  --en-translate-y: 0;
  --en-rotate: 0;
  --en-skew-x: 0;
  --en-skew-y: 0;
  --en-scale-x: 1;
  --en-scale-y: 1;
  --en-pan-x: ;
  --en-pan-y: ;
  --en-pinch-zoom: ;
  --en-scroll-snap-strictness: proximity;
  --en-ordinal: ;
  --en-slashed-zero: ;
  --en-numeric-figure: ;
  --en-numeric-spacing: ;
  --en-numeric-fraction: ;
  --en-ring-inset: ;
  --en-ring-offset-width: 0px;
  --en-ring-offset-color: #fff;
  --en-ring-color: rgb(59 130 246 / 0.5);
  --en-ring-offset-shadow: 0 0 #0000;
  --en-ring-shadow: 0 0 #0000;
  --en-shadow: 0 0 #0000;
  --en-shadow-colored: 0 0 #0000;
  --en-blur: ;
  --en-brightness: ;
  --en-contrast: ;
  --en-grayscale: ;
  --en-hue-rotate: ;
  --en-invert: ;
  --en-saturate: ;
  --en-sepia: ;
  --en-drop-shadow: ;
  --en-backdrop-blur: ;
  --en-backdrop-brightness: ;
  --en-backdrop-contrast: ;
  --en-backdrop-grayscale: ;
  --en-backdrop-hue-rotate: ;
  --en-backdrop-invert: ;
  --en-backdrop-opacity: ;
  --en-backdrop-saturate: ;
  --en-backdrop-sepia: ;
}

.i-fa-solid-home {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1.125em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 576 512'%3E%3Cpath fill='currentColor' d='M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0M571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1.125em;
  height: 1em;
}

.i-mdi-alarm {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M12 20a7 7 0 0 1-7-7a7 7 0 0 1 7-7a7 7 0 0 1 7 7a7 7 0 0 1-7 7m0-16a9 9 0 0 0-9 9a9 9 0 0 0 9 9a9 9 0 0 0 9-9a9 9 0 0 0-9-9m.5 4H11v6l4.75 2.85l.75-1.23l-4-2.37zM7.88 3.39L6.6 1.86L2 5.71l1.29 1.53zM22 5.72l-4.6-3.86l-1.29 1.53l4.6 3.86z'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.i-openmoji-automobile {
  background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 72 72'%3E%3Cpath fill='%23ea5a47' d='m64.8 44l-1.1-.6c-.4-.2-.6-.6-.5-1c.3-1.9.5-8.5-9.7-11.5c-.2-.1-.4-.1-.6-.1l-19.6.1c-.4 0-.8.1-1.1.3l-10.3 6.9c-.2.1-.4.2-.6.2c-1.9-.1-3.7.1-5.6.4c-5.4 1.1-7.6 4-8.4 5.5c-.2.3-.2.7-.2 1c.1 2.4-1.5 5.1.9 7.3l19.4-.1l20.4-.5l16.1-.2c.9-.1 2.4-1.4 2.8-2.2c1.7-2.7-1.7-5.4-1.9-5.5'/%3E%3Cpath fill='%239b9b9a' d='M17.3 46.4c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4m39.8 0c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4'/%3E%3Cpath fill='%2392d3f5' d='M56.1 39.3V35c0-.9-.8-1.7-1.7-1.7H33.2c-.1 0-.2 0-.2.1l-8 5.7c-.2.1-.2.4-.1.6c.1.1.2.2.3.2c5.6 0 27.2-.2 30.4-.1c.3 0 .5-.2.5-.5q0 .15 0 0'/%3E%3Cpath fill='%23fcea2b' d='m8.9 40.5l4 1.6l-2.1 2.9l-5 .1z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m47.6 51l-20.6.4m-18.9 0c-.9-.2-1.7-.5-1.8-1c-.1-1-.3-3.8-.3-5.1c0-.5.1-1.1.4-1.5c1.1-2 4.8-6.8 14.9-6.4l10.3-6.9c.5-.3 1.1-.5 1.6-.5l19.6-.1c.3 0 .6 0 .9.1c2.2.6 11.7 4 10.4 12.6l1.1.6c.5.2.9.7 1 1.2c.4 1.4.3 2.9-.2 4.3'/%3E%3Cpath d='m24.9 39.9l30.2-.2v-4.5'/%3E%3Ccircle cx='17.3' cy='50.4' r='5'/%3E%3Ccircle cx='57.1' cy='50.4' r='5'/%3E%3Cpath d='m12.3 42.9l-1.8 2.2l-3.7-.1'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-color: transparent;
  background-size: 100% 100%;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.i-subway-world-1 {
  --en-icon: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M93.8 114.6c-4.7 1.1-1.7.9-5.6 1.4c-16.7 3.6-4.3 6.8 5.6-1.4m293.7 6.7c1.2-.8 5.4-4.9-7.7-8.9c.8 4.1-2.7 3.7-2.7 6c9.7 8.8 13.7 24.1 26.1 27.3c2.4-11-11-16.4-15.7-24.4m-302.6-9.9c1.5 8.9 8.2-9.4 8.3-15.9c-2.6 1.5-5.2 3-7.9 4.2c6.3 3.2.8 6.6-6 11.7c-13.8 17.2 12.9-13.4 5.6 0M256 0C114.6 0 0 114.6 0 256c0 141.3 114.6 256 256 256s256-114.7 256-256C512 114.6 397.4 0 256 0m6.8 85.8l1.2.4c-4.8 6.2 25 24.3 3.6 25.8c-20 5.7 8.4-5.2-7.1-3.3c8.2-11.4-6.5-11.6 2.3-22.9m-121.4 16.4c-7.2-6-29.8 8.2-21.9 4.8c19.6-7.7 1.3.8 5.9 10c-4.2 8.7-1.4-8.6-11.8 1.7c-7.5 1.7-25.9 18.7-23.6 13.5c-.6 8.1-21.9 17.7-24.8 31.2c-7 18.7-1.7-.7-3-8c-10-12.7-28.2 21.5-22.8 35c9.1-16 8.4-1.7 1.8 5.4c6.7 12.3-6.1 28.3 6.6 37.4c5.6 1.3 16.8-18.8 11.9 2.1c3.4-18.1 9.4 4.3 19.1-.7c.6 9.5 6.5 5.1 7.8 16.6c16.2-1.2 31 26.2 11.7 31.4c2.9-.8 8.6 4.3 15.2.4c11.2 8.9 40.7 10 41.5 32c-20.3 9.7-5 36.3-22.6 45.8c-20.2-3-6.9 24.9-15.4 21.7c3.4 20.1-20.4-2.6-11.2 8.5c16.9 10.4-7.4 8.3.2 15.9c-8.5-1.8 5.3 15.8 7.6 22.3c12.2 19.8-10.5-4.4-17.2-11c-6.4-12.8-21.5-37.3-25.7-57.4c-2.4-29.2-25-48.8-30.2-77.3c-5.2-15.9 14.3-41.4 3.8-50.3c-9.1-7.1-5.4-31.4-10.8-44.2C47 130.5 89.9 81.2 141.4 52c-5.3 3.9 30.3-10.1 26.2-6.7c-1.1 2.5 20.8-9.5 34-11.3c-1.4.2-34.3 12-25.2 10.4c-14.1 6.9-1.4 3 5.6-.5c-14 10.3-24.8 7.4-40.7 16.5c-16 4.2-12.7 20.8-24.1 29.1c6.7 1.2 23.5-17.3 33.3-23.8c22.5-10.9-11.4 19.8 10 6.6c-7.2 6.7-5.7 17.4-10.1 20.4c-2.2-.6 8.7 5.2-9 9.5m35-46c-2.3 3.1-5.5 9.8-7.4 5.7c-2.6 1.3-3.6 6.9-8.5 2.4c2.9-2.1 5.9-7.1.2-4c2.6-2.8 25.8-10.7 24.5-13.7c4.1-2.6 3.7-3.9-1-2.3c-2.4-.8 5.7-7.6 16.5-8.5c1.5 0 2.1 1-.6.7c-16.3 5-9.3 3.6 1.7 0c-4.2 2.4-7.1 3.1-7.8 4.2c11-4-.6 2.9 1.9 2.4c-3.1 1.6.5 2.1-5.5 4.4c1.1-.9-9.8 6.5-3.3 4.3c-6.3 6-9.1 6.1-10.7 4.4m9.6 14.3c.2-9.6 14-15.7 12.3-16.2c17-8-5.9.3 7.5-6.9c5-.5 15.6-16.5 30.3-17.5c16.2-4.9 8.7.3 20.7-4.3l-2.4 2c-2.1.3.5 4-7.1 9.6c-.8 8.7-14.5 4.7-7.7 14c-4.4-6.3-11-.2-2.7.4c-8.9 6.8-29.6 8-39.5 19.3c-6.4 9.2-12.3 6.3-11.4-.4m71.1 32c-6.8 16.4-13.4-2.4-1.4-5.4c3 1.6 4.2 2.1 1.4 5.4m-25.6-32.8c-2-7.4-.4-3.5 11.5-7c8.2 5.9-7.3 9.8-11.5 7m186.2 293.5c-9.4-16.2 11.4-31.2 18.4-44.8c-.9 15.9-2.9 31.6-18.4 44.8m35.4-185.1c-10.2.8-19.4 3.2-28.6-2.6c-21.2-23.2 3.9 26.2 10.9 6c25.2 9.6-.4 51-16.3 46.7c-8.9-19.2-19.9-40.3-39.3-49.7c14.9 16.5 22.3 36.8 38.3 51.7c1.1 20.8 22.2-7.6 20.9 8.5c2 27.7-31.3 44.3-25.5 72.1c12.4 25.3-23.9 29.9-19.8 52.6c-14.6 16.3-30.2 38.3-56.4 34.8c0-13.8-7-25.5-8.6-39.7c-14.2-18 15-37.3-3.1-56.1c-20.9-4.7 4.3-33.5-17.2-30.8c-12.9-12.9-31.8-.4-50.3-.3c-23.2 2.2-47.1-28.5-36.8-50.2c-8.2-22.6 26-29.2 26.9-49.1c16.4-13.7 39.7-12 61.9-15.2c-1.6 15.9 15.2 16 27.9 21.3c7.1-17.2 29.2 2.8 44.3-8.1c5.2-25.4-14.7-10.1-26.1-18.2c-13.8-20.2 29.5-10.4 25-21c-16.8-.1-7.3-20.7-19.2-9.2c10.7 1.9-1.9 10.3-1.6.7c-16.2-4.7-.6 18.4-8.8 20.6c-12.5-5.2-6.6 5.9-5.3 7.6c-5.4 11.7-12-17.2-27.3-16.4c-15.2-13.9-6 6.3 7.2 9.6c-2.8.8 1.6 12.3-1.9 7.4c-10.9-15-31.6-25-43.9-6.6c-1.3 17.2-36.3 22.1-30.7 2c-8.2-20.8 25.4-.6 22.3-17.2c-21.6-14.3 5.9-9.7 13.2-23.1c16.6.5.7-13.6 8.5-17.7c-.8 15.3 12.7 12.4 23.4 9.5c-2.6-8.8 6.4-8.5.9-15.8c24.8-9.9-18.9 4.6-10.1-17.1c-10.7-7.4-4.5 16.3 0 18.8c.3 7.3-5.9 16.3-14.4 1c-12.4 8.1-11.1-8.2-11.9-6.5c-1.4-6.3 9.4-6.6 9.5-17.6c-.9-7-.7-10.7 4.3-11.1c.4 1 20.5 1.3 27.6 9.6c-19.4-3.9-2.9 3.2 5.8 7.2c-9.3-7.3 3.7 0-3.9-8.3c3 .6-8.3-11.4 3.3-.9c-6.3-7.5 12.3-5.3 1.3-10.9c16.1 4.5 6.6.4-2.9-3.7c-26.2-15.6 46.3 21.1 16.7 4.8c18.9 4.1-40.4-14.6-13.4-6.4c-10.3-4.5-.3-2 9 .9c-16.7-5.2-41.7-14.9-40.7-15.3c5.8.4 11.5 1.7 17 3.3c17.1 5.1-4.9-1.2-.2-1.1c58.8 15.1 110.3 54.5 141.6 106c7.3 7.7 27.2 58.6 16.8 36c4.7 18 5.4 37.4 7.9 55.8c-5.2-5.8-11-27.2-16-39.1c-2.1 4.6-4.5-6.5-12.2-9.5'/%3E%3C/svg%3E");
  mask: var(--en-icon) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask: var(--en-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.block {
  display: block;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-zinc-600 {
  --en-text-opacity: 1;
  color: rgb(82 82 91 / var(--en-text-opacity));
}

.hover\:i-openmoji-autonomous-car:hover {
  background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='XMidYMid meet' viewBox='0 0 72 72'%3E%3Cpath fill='%23ea5a47' d='m64.8 44l-1.1-.6c-.4-.2-.6-.6-.5-1c.3-1.9.5-8.5-9.7-11.5c-.2-.1-.4-.1-.6-.1l-19.6.1c-.4 0-.8.1-1.1.3l-10.3 6.9c-.2.1-.4.2-.6.2c-1.9-.1-3.7.1-5.6.4c-5.4 1.1-7.6 4-8.4 5.5c-.2.3-.2.7-.2 1c.1 2.4-1.5 5.1.9 7.3l19.4-.1l20.4-.5l16.1-.2c.9-.1 2.4-1.4 2.8-2.2c1.7-2.7-1.7-5.4-1.9-5.5'/%3E%3Cpath fill='%239b9b9a' d='M17.3 46.4c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4m39.8 0c-2.2 0-4 1.8-4 4s1.8 4 4 4s4-1.8 4-4s-1.8-4-4-4'/%3E%3Cpath fill='%2392d3f5' d='M56.1 39.3V35c0-.9-.8-1.7-1.7-1.7H33.2c-.1 0-.2 0-.2.1l-8 5.7c-.2.1-.2.4-.1.6c.1.1.2.2.3.2c5.6 0 27.2-.2 30.4-.1c.3 0 .5-.2.5-.5q0 .15 0 0'/%3E%3Cpath fill='%23fcea2b' d='m8.9 40.5l4 1.6l-2.1 2.9l-5 .1z'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m47.6 51l-20.6.4m-18.9 0c-.9-.2-1.7-.5-1.8-1c-.1-1-.3-3.8-.3-5.1c0-.5.1-1.1.4-1.5c1.1-2 4.8-6.8 14.9-6.4l10.3-6.9c.5-.3 1.1-.5 1.6-.5l19.6-.1c.3 0 .6 0 .9.1c2.2.6 11.7 4 10.4 12.6l1.1.6c.5.2.9.7 1 1.2c.4 1.4.3 2.9-.2 4.3'/%3E%3Cpath d='m24.9 39.9l30.2-.2v-4.5'/%3E%3Ccircle cx='17.3' cy='50.4' r='5'/%3E%3Ccircle cx='57.1' cy='50.4' r='5'/%3E%3Cpath d='m12.3 42.9l-1.8 2.2l-3.7-.1m11.468-17.137c1.685-4.7 5.608-8.502 10.814-9.811a15.47 15.47 0 0 1 12.975 2.552'/%3E%3Cpath d='M14.182 26.854c1.956-6.006 6.862-10.905 13.44-12.56c5.937-1.493 11.926-.013 16.393 3.5'/%3E%3Cpath d='M22.217 28.734a11.48 11.48 0 0 1 7.841-6.803a11.48 11.48 0 0 1 9.627 1.894'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-color: transparent;
  background-size: 100% 100%;
  display: inline-block;
  width: 1em;
  height: 1em;
}